[Unit]
After =
BindsTo =
Description = Octez Accuser
Documentation = https://tezos.gitlab.io/introduction/howtorun.html#accuser

[Service]
ExecStart =
ExecStartPre = /bin/sleep 15
Restart = on-failure
RestartSec = 60
TimeoutStopSec = 15min

[Install]
WantedBy =
